
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <img src="assets/logominsait.png" height="30" class="d-inline-block align-top" alt="">
  </div>
</nav>
<div class="video-content">
  <video autoplay="" id="video_background" class="margin" loop="" muted="" playsinline="" poster="https://www.minsait.com/sites/default/files/background_rows/header-home_0.jpg" class="background-video-indra">
    <source title="00_People_HD_ESP" alt="00_People_HD_ESP" src="assets/00_People_HD_ESP-nosound.mp4" type="video/mp4">
  </video>
</div>
<div class="app-content">
  <div class="app-content__card-container">
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-confetti></app-confetti>

