$navbar-height: 62px;

@import 'assets/fonts/sohogothicpro-regular.css';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  font-family: "Playfair Display";
  color: #1a3b47;
  font-size: 1.2rem;

  app-root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    app-media {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      max-height: calc(100% - #{$navbar-height});
    }
  }
}
